:root, .black-theme {
	--background-color: #000;
	--primary-color: #fff;
	--digit-background: linear-gradient(45deg, #000, #111, #222);
	--icon-color: #aaa;
	--selected-icon-color: #111;
}

.white-theme {
	--background-color: #fff;
	--primary-color: #000;
	--digit-background: linear-gradient(45deg, #fff, #eee, #ddd);
}

body {
	margin: 0;
	font-family: "Varela", sans-serif;
	font-weight: 400;
	font-style: normal;
}

#clock-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--background-color);
	color: var(--primary-color);
}

#flipClock {
	display: flex;
	align-items: center;
	transform: scale(1.3);
}

.separator {
	font-size: 100px;
	margin: 0 20px;
	color: var(--primary-color);
}

.digit-container {
	display: flex;
	position: relative;
	width: 140px;
	height: 180px;
	perspective: 1000px;
}

.digit {
	background-color: var(--background-color);
	color: var(--primary-color);
	font-size: 6.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: var(--digit-background);
}

.flipper {
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	z-index: 2;
}

.flipper-back {
	transform-origin: center;
	backface-visibility: unset;
	z-index: 1;
}

.flipper-back .flipper-digit {
	transform: rotateX(180deg);
}

.top-digit::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	background: var(--background-color);
	z-index: 99;
}

.flip-animation {
	animation: flip 0.5s ease-in-out;
}

@keyframes flip {
	0% {
		transform: rotateX(0deg);
	}

	100% {
		transform: rotateX(-180deg);
	}
}
.settings {
	position: absolute;
	top: 5%;
	right: 5%;
	color: #888;
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.customCheck {
	width: 140px;
	height: auto;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	display: block;
}

.customCheck input {
	position: absolute;
	opacity: 0;
}

.customCheck .checkmark {
	width: 20px;
	height: 10px;
	position: absolute;
	top: 7px;
	left: 6px;
	background: #888;
	border-radius: 10px;
	box-shadow: inset 0 0 2px #555;
	transition: .2s ease-in-out;
}

.customCheck .checkmark::after {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	top: -2.5px;
	left: -10px;
	background: #aaa;
	border-radius: 50%;
	box-shadow: 0 0 4px #333;
	transition: .2s ease-in-out;
}

.customCheck input:checked~.checkmark::after {
	left: 10px;
	background: rgb(140, 140, 255);
}

.customCheck input:checked~.checkmark {
	background: rgb(120, 120, 255);
}

#amOrPm {
	position: absolute;
	z-index: 999;
	bottom: 10px;
	left: 10px;
	font-size: 1.2rem;
}

.theme-toggle-container {
	width: auto;
}
.icon svg {
	fill: var(--icon-color);
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.icon-selected svg {
	fill: var(--selected-icon-color);
}